<% include ../partials/header %>
<% var tiny = 'localhost:3000'; %>
<div class='row text-center main'>
  <h2>Here is your shortened link:</h2>
  <br>
  <h3><%= tiny %>/<%= hash %></h3>
</div>
<!-- <div class="row text-center return">
  <a href='/'>Back to urlShortener</a>
</div> -->

<% include ../partials/footer %>