<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>urlShortener</title>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
  <div class="navbar">
    <!-- <a class="navbar-brand" href="/">urlShortener</a> -->
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/urls/list">urlList</a>
      </li>
    </ul>
  </div>
  <div class="page-header text-center header">
    <h1>urlShortener<small>.sequelize.js</small></h1>
  </div>



